<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/8e671640-cfa4-4182-97e7-4a3692172124/resourceGroups/KMXTEST/providers/Microsoft.Web/sites/rapid7test1</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://rapid7test1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>rapid7test1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>rapid7test1</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$rapid7test1</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>